# shellcheck disable=SC2148,SC2155

#
# e-bash integration
#
export E_BASH="$(pwd)/.scripts"

#
# Load e-bash dependencies verification script
#
source "$PWD/.scripts/_dependencies.sh"

#
# Project Generic Dependencies
#
dependency bash "5.*.*" "brew install bash"
dependency direnv "2.*.*" "curl -sfL https://direnv.net/install.sh | bash"
dependency git "2.*.*" "brew install git"
dependency git-lfs "3.*.*" "brew install git-lfs"
dependency ggrep "3.*" "brew install grep"
dependency gsed "4.*" "brew install gnu-sed"
dependency gawk "5.*.*" "brew install gawk"
dependency timeout "9.*" "brew install coreutils"
dependency jq "1.[6-9].*" "brew install jq"
optional foreman "0.88.*" "brew install foreman"

#
# PROJECT CRITICAL
#
dependency docker "28.*.*" "brew install docker"
optional colima "0.8.*" "brew install colima"
dependency jenv "0.5.*" "brew install jenv"
optional java "Corretto-24.*.*.*.*" "brew install --cask corretto; jenv local corretto64-24.0.1"

#
# JAVA_HOME, listen to .java-version file
#
export JAVA_HOME="$(jenv javahome)"

#
# Local Tools
#
PATH_add "$(pwd)/bin"

#
# e-bash cleanup from colors variables
#
cl:unset
