# shellcheck disable=SC2148,SC2155

#
# Pre-create directories for consistant state of repo
#
mkdir -p logs
mkdir -p .secrets

#
# e-bash integration
#
export E_BASH="$(pwd)/.scripts"

#
# Load e-bash dependencies verification script
#
source "$PWD/.scripts/_dependencies.sh"

#
# Project Generic Dependencies
#
dependency bash "5.*.*" "brew install bash"
dependency direnv "2.*.*" "curl -sfL https://direnv.net/install.sh | bash"
dependency git "2.*.*" "brew install git"
dependency git-lfs "3.*.*" "brew install git-lfs"
dependency ggrep "3.*" "brew install grep"
dependency gsed "4.*" "brew install gnu-sed"
dependency gawk "5.*.*" "brew install gawk"
dependency timeout "9.*" "brew install coreutils"
dependency jq "1.[6-9].*" "brew install jq"
optional foreman "0.88.*" "brew install foreman"
optional http "3.2.*" "brew install httpie"

#
# PROJECT CRITICAL
#
dependency docker "28.*.*" "brew install docker"
optional colima "0.8.*" "brew install colima"
dependency jenv "0.5.*" "brew install jenv"
optional java "Corretto-24.*.*.*.*" "brew install --cask corretto; jenv local corretto64-24.0.1"

#
# JAVA_HOME, listen to .java-version file
#
export JAVA_HOME="$(jenv javahome)"
#
# GRAALVM_HOME, oracle64-24.0.1
#
export GRAALVM_HOME="$(jenv prefix oracle64-24.0.1)"

#
# Local Tools
#
PATH_add "$(pwd)/bin"

#
# Colima for Local Docker and TestContainers
# ref1: https://medium.com/@farinim/setup-colima-as-container-runtime-and-run-test-containers-157c972d63f0
# ref2: https://java.testcontainers.org/supported_docker_environment/
#
export DOCKER_HOST="unix://${HOME}/.colima/docker.sock"
export TESTCONTAINERS_HOST_OVERRIDE=127.0.0.1
export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
export TESTCONTAINERS_RYUK_DISABLED=true

#
# e-bash cleanup from colors variables
#
cl:unset
