# folder for local secrets setup
.secrets

# temporary files
*.~*~
*.bak
*.origin
*.tmp
*.log

# build artifacts
build
reports
coverage

# gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

# openapi generator
generated/
openapitools.json
temp-openapi-gen
temp-vehicle-api.json
